@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #83c1cc;
  --secondary-color: #40e9bf;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  display: grid;
  color: white;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  height: 100vh;
  justify-items: stretch;
}

[class*="container"] {
  max-width: 100%;
}

header {
  display: grid;
  justify-items: center;
}

.cm-header__container {
  display: grid;
  justify-items: center;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

button,
input[type="submit"] {
  background: var(--secondary-color);
  color: white;
  padding: 1em 2em;
  background-color: rgba(0, 255, 255, 0.5);
  border: none;
  border-radius: 2px;
  margin-bottom: 1rem;
}

button:hover,
input[type="submit"]:hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.2);
}

ul.contact-list {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 10px;
}

.contact-card {
  color: black;
  list-style: none;
  padding: 3px;
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  border-radius: 0.7rem;
}

#searchBar {
  margin-bottom: 1rem;
}

form > * {
  padding: 1em;
}
form {
  background-color: rgba(255, 255, 255, 0.5);
}

.hidden {
  display: none;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  color: black;
}

.modal-header {
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  border-bottom: 1px solid #333;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  padding: 8px;
  width: 100%;
}
